body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f2f2f2;
}
/* remove the scroole bar */
body::-webkit-scrollbar {
  display: none;
}

/* container  */
.container {
  height: 100vh;
  width: 100vw;
}
/* leaflet container  */
.leaflet-container {
  height: 100%;
  width: 100%;
}
.export {
  position: absolute;
  bottom: 10px;

  left: 50%;
  transform: translateX(-50%);

  z-index: 1000;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* custom contoles */

.custom-control {
  width: 400px;
  height: fit-content;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* info-header */
.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #e2e2e2;
}
.info-header h2 {
  font-weight: 500;
  margin: 0;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  cursor: pointer;
}
.icon:hover {
  background: #e2e2e2;
}
.info-header svg {
  height: 20px;
  width: 20px;
}


/* UTILS */
.hide {
  display: none;
}